button:disabled {
  background: rgb(153, 153, 153);
  color: #333;
}

.red {
  background-color: rgb(255, 0, 0)
}

.blue {
  background-color: rgb(0, 0, 255);
}

.medium-violet-red {
  background-color: mediumvioletred;
}

.midnight-blue {
  background-color: midnightblue
}